*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
    background-color: black;
}
header {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
}
kbd {
    display: block;
    font-size: 4rem;
}

.title {
    width: 100%;
    font-size: 2.5rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.keyboard {
    width: 100%;
    height: 50vh;
}
.keys {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.key {
    border: 0.2rem solid #e0e0e0;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 0.5rem black;
}

.key:hover {
    cursor: pointer;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #ffc600;
}
