:root {
    /* white */
    --primary-white: #ffffff;
    --secondary-white: #fef7e0;

    /* grey */
    --grey-100: #e0e0e0;
    --grey-200: #c1c3c4;
    --grey-230: #dfe1e5;
    --grey-250: #5f6368;
    --grey-300: #3c4043;
    --grey-400: #202124;

    /* royalblue */
    --primary-blue: #2962ff;
    --secondary-blue: #1a73e8;

    /* orange */
    --primary-orange: #f4511e;

    /* black */
    --primary-black: #000000de;
    --secondary-black: #20212447;
    --ternary-black: #00000059;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 2rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--primary-black);
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--primary-white);
    z-index: 1000;
}

span {
    color: var(--primary-blue);
    cursor: pointer;
}
nav {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.HeaderContent {
    width: 100%;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    padding-top: 3rem;
}
.HeaderLeft {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderLogo {
    width: 90px;
    height: 34px;
}
.HeaderLogo:hover {
    cursor: pointer;
}

.HeaderSerachBar {
    width: 85%;
    height: 50px;
    border-radius: 200px;
    box-shadow: 0 1px 6px 0 var(--secondary-black);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Icons {
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.Icon {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
}
.Voice {
    width: 20px;
    padding: 0.2rem;
}

.Icon:hover {
    cursor: pointer;
}
.HeaderRight {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--primary-white);
    padding: 1rem;
}
.Tools {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.ToolsIcon {
    width: 30px;
    height: 30px;
}
.ToolsIcon:hover {
    cursor: pointer;
}
.User {
    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--primary-orange);
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: var(--primary-white);
    font-weight: 400;
}
.NavBar {
    display: flex;
    margin-top: 0.5rem;
    border-bottom: 0.1px solid var(--grey-200);
}
.NavBarLeftContent {
    width: 100%;
}

.NavList {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0rem;
}

.Item {
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 0.5rem;
    color: var(--grey-250);
    position: relative;
}
.Item:hover {
    cursor: pointer;
}
.ItemText {
    font-size: 1.6rem;
}
.ActiveItem {
    color: var(--secondary-blue);
    cursor: pointer;
    border-bottom: 3px solid var(--secondary-blue);
    border-radius: 0.1rem;
}
.InActive {
    color: var(--grey-250);
    cursor: pointer;
    border-bottom: 3px solid var(--grey-250);
    border-radius: 0.1rem;
}

.ItemIcon {
    width: 16px;
    height: 16px;
}
.NavBarRightContent {
    width: 55%;
}

.Operations {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}
.Operation:hover {
    border: none;
    color: var(--primary-black);
}

.SearchSuggestions {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    display: none;
}
.SuggestionCard {
    min-width: 150px;
    height: 60px;
    border: 0.1px solid var(--grey-200);
    border-radius: 1rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.SuggestionCard:hover {
    cursor: pointer;
}
.SuggestionImage {
    width: 80px;
    height: 100%;
}
.SuggestionImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.SuggestionText {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.SuggestionText h3 {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--primary-black);
}

.SearchImagesPlaceholder {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.SearchImageCard {
    background-color: var(--primary-white);
}

.SearchImageCard img {
    width: 100%;
    height: 100%;
}

.SearchImageCard:hover {
    box-shadow: var(--ternary-black) 0px 5px 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.ErrorTextBox {
    display: block;
    padding: 2rem;
}
.ResultNotFound {
    display: none;
    padding: 2rem;
    border: 1px solid var(--grey-230);
    gap: 4rem;
}

.NotFoundLogo {
    display: inline-block;
    margin: 0;
    width: 60px;
    height: 60px;
    padding: 0.5rem;
    background-color: var(--secondary-white);
    border-radius: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.NotFoundHelperText h2 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--grey-400);
}
.SerachTips h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: var(--grey-400);
}

.TipsList {
    padding-left: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--grey-300);
}

.SerachTips p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1rem;
    color: var(--grey-300);
}
.SomethingWentWrong {
    width: 100%;
    height: 50vh;
    display: none;
    place-items: center;
}
.WentWrongBox {
    width: 50%;
    background-color: var(--grey-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    border-radius: 2rem;
}

.WarningIcon {
    width: 100px;
    height: 100px;
}

.WarningText h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: var(--grey-400);
}

.WarningText p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 4rem;
    color: var(--grey-400);
}

.Loader {
    width: 100%;
    height: 70vh;
    display: none;
    place-items: center;
}

.DeviceSupportWarning {
    display: none;
}
.Row {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}
.SearchImageCard {
    margin-top: 2rem;
}

/* disable UI for mobile and tablets */
@media screen and (max-width: 980px) {
    header {
        display: none !important;
    }
    nav {
        display: none !important;
    }
    .SearchSuggestions {
        display: none !important;
    }
    .SearchImagesResult {
        display: none !important;
    }
    .DeviceSupportWarning {
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
        text-align: center;
        padding: 1rem;
    }
    .WarningWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .DeviceSupportWarning h1 {
        margin-top: 3rem;
        font-size: 3rem;
        line-height: 5rem;
        text-align: center;
        color: var(--grey-250);
    }
}
