:root {
    --primary: #ffffff;
    --secondary: #39495e;
    --tertiary: #273d49cc;
    --color-grey: #97a1a9;
    --color-dirtyblue: #283a46;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
html {
    font-size: 62.5%;
}
img {
    width: 100%;
}
input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 2rem;
    font-size: 2rem;
    color: #000000de;
    word-wrap: break-word;
}

.HeaderContent {
    width: 100%;
    display: flex;
    padding: 2rem;
    gap: 2rem;
}
.HeaderLeft {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderLogo {
    width: 90px;
    height: 34px;
}
.HeaderSerachBar {
    width: 80%;
    height: 55px;
    border-radius: 200px;
    box-shadow: 0 1px 6px 0 #20212447;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.Icons {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.Icon {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
}
.Voice {
    width: 20px;
    padding: 0.2rem;
}

.Icon:hover {
    cursor: pointer;
}
.HeaderRight {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    padding: 1rem;
}
.Tools {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.ToolsIcon {
    width: 30px;
    height: 30px;
}
.ToolsIcon:hover {
    cursor: pointer;
}
.User {
    width: 32px;
    height: 32px;
    border: none;
    background-color: #f4511e;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #ffff;
    font-weight: 400;
}
