:root {
    --primary: #ffffff;
    --secondary: #39495e;
    --tertiary: #273d49cc;
    --color-grey: #97a1a9;
    --color-dirtyblue: #283a46;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 2rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: #000000de;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1000;
}

span {
    color: #2962ff;
    cursor: pointer;
}

.HeaderContent {
    width: 100%;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    padding-top: 3rem;
}
.HeaderLeft {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderLogo {
    width: 90px;
    height: 34px;
}
.HeaderSerachBar {
    width: 85%;
    height: 50px;
    border-radius: 200px;
    box-shadow: 0 1px 6px 0 #20212447;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Icons {
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.Icon {
    width: 28px;
    height: 28px;
    display: grid;
    place-items: center;
}
.Voice {
    width: 20px;
    padding: 0.2rem;
}

.Icon:hover {
    cursor: pointer;
}
.HeaderRight {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    padding: 1rem;
}
.Tools {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.ToolsIcon {
    width: 30px;
    height: 30px;
}
.ToolsIcon:hover {
    cursor: pointer;
}
.User {
    width: 32px;
    height: 32px;
    border: none;
    background-color: #f4511e;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #ffff;
    font-weight: 400;
}
.NavBar {
    display: flex;
    margin-top: 0.5rem;
    border-bottom: 0.1px solid #c1c3c4;
}
.NavBarLeftContent {
    width: 100%;
}

.NavList {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0rem;
}

.Item {
    padding: 1rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 0.5rem;
    color: #5f6368;
    position: relative;
}
.Item:hover {
    cursor: pointer;
}
.ItemText {
    font-size: 1.6rem;
}
.AciveItem {
    color: #1a73e8;
    cursor: pointer;
    border-bottom: 3px solid #1a73e8;
    border-radius: 0.1rem;
}

.ItemIcon {
    width: 16px;
    height: 16px;
}
.NavBarRightContent {
    width: 55%;
}

.Operations {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}
.Operation:hover {
    border: none;
    color: #000000de;
}

.SearchSuggestions {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    display: none;
}
.SuggestionCard {
    width: 150px;
    height: 60px;
    border: 0.1px solid #c1c3c4;
    border-radius: 1rem;
    display: flex;
    padding: 0.5rem;
    gap: 2rem;
    align-items: center;
}

.SuggestionCard:hover {
    cursor: pointer;
}
.SuggestionImage {
    width: 80px;
    height: 100%;
}
.SuggestionImage img {
    width: 100%;
    height: 100%;
}

.SuggestionText {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.SuggestionText h3 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #000000de;
}

.SearchImagesPlaceholder {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.SearchImageCard {
    background-color: #ffffff;
}

.SearchImageCard img {
    width: 100%;
    height: 100%;
}

.SearchImageCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}
.ErrorTextBox {
    display: block;
    padding: 2rem;
}
.ResultNotFound {
    display: none;
    padding: 2rem;
    border: 1px solid #dfe1e5;
    gap: 4rem;
}

.NotFoundLogo {
    display: inline-block;
    margin: 0;
    width: 60px;
    height: 60px;
    padding: 0.5rem;
    background-color: #fef7e0;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.NotFoundHelperText h2 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 32px;
    color: #202124;
}
.SerachTips h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #202124;
}

.TipsList {
    padding-left: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: #3c4043;
}

.SerachTips p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 1rem;
    color: #3c4043;
}
.SomethingWentWrong {
    width: 100%;
    height: 50vh;
    display: none;
    place-items: center;
}
.WentWrongBox {
    width: 50%;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    border-radius: 2rem;
}

.WarningIcon {
    width: 100px;
    height: 100px;
}

.WarningText h1 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #202124;
}

.WarningText p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 4rem;
    color: #202124;
}
